<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
         <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ asset('bloghome/css/styles.css')}}" rel="stylesheet" />
    </head>
    <body>
     <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{path('homepage')}}">WebBlog!</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{{ path('homepage')}}">Home</a></li>
                        {% if app.user  and app.user.roles == ['ROLE_ADMIN']%}
                            <li class="nav-item"><a class="nav-link" href="{{ path('userslist')}}">Users list</a></li>
                        {% endif %}
                        {% if app.user %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('myaccount')}}">My account</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('logout')}}">Logout</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('login')}}">Log in</a></li>
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
         <!-- Bootstrap core JS-->
        <script src="{{asset('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')}}"></script>
        <!-- Core theme JS-->
        <script src="{{asset('bloghome/js/scripts.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
